.header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  align-items: center;
  // justify-content: center;
  color: white;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
